@import "tailwindcss";
@import "primeicons/primeicons.css";


@theme {
  --color-crema: #F0EAD6;
  --color-crema-oscuro: #E3DAC0;
  --color-verde: #2F6B4F;
  --color-verde-oscuro: #1F4A36;
}
/* Oculta el watermark de licencia (bug de PrimeNG) */
#p-license-host {
  display: none !important;
}